### ADWH loading and writing

Scenario explored here is:
* read data from Object Storage
* add scoring
* write data to ADWH

* load data from ADWH
* add SCORE
* write in ATTRITION_SCORE table

In [3]:
import cx_Oracle

import logging
import os
import pandas as pd
import warnings

from ads.database import connection 
from ads.database.connection import Connector

# SQLAlchemy for writing
from sqlalchemy import types, create_engine

# my lib
# for reading from Object Storage
from utils import read_from_object_storage

warnings.filterwarnings("ignore", category=DeprecationWarning) 
logging.basicConfig(format='%(levelname)s:%(message)s', level=logging.INFO)

In [4]:
PREFIX = "oci://data_input@fr95jjtqbdhh/"
FILE_NAME = "orcl_attrition.csv"

# see in functions above
data_orig = read_from_object_storage(prefix=PREFIX, file_name=FILE_NAME)

data_orig.head()

,Age,Attrition,TravelForWork,SalaryLevel,JobFunction,CommuteLength,EducationalLevel,EducationField,Directs,EmployeeNumber,...,WeeklyWorkedHours,StockOptionLevel,YearsinIndustry,TrainingTimesLastYear,WorkLifeBalance,YearsOnJob,YearsAtCurrentLevel,YearsSinceLastPromotion,YearsWithCurrManager,name
0,42,Yes,infrequent,5054,Product Management,2,L2,Life Sciences,1,1,...,80,0,8,0,1,6,4,0,5,Tracy Moore
1,50,No,often,1278,Software Developer,9,L1,Life Sciences,1,2,...,80,1,10,3,3,10,7,1,7,Andrew Hoover
2,38,Yes,infrequent,6296,Software Developer,3,L2,Other,1,4,...,80,0,7,3,3,0,0,0,0,Julie Bell
3,34,No,often,6384,Software Developer,4,L4,Life Sciences,1,5,...,80,0,8,3,3,8,7,3,0,Thomas Adams
4,28,No,infrequent,2710,Software Developer,3,L1,Medical,1,7,...,80,1,6,3,3,2,2,2,2,Johnathan Burnett

In [5]:
# Sample credentials that are going to be stored.
credential = {'database_name': 'adwh1_medium', 
              'username': 'HR', 
              'password': 'DataLake1234;;',
              'database_type':'oracle'}

In [6]:
database_name = "ADWH1"

# crea un repository locale, all'interno dello storage della NB session
# alternativa: usare il vault
connection.update_repository(key=database_name, value=credential) 
connection.get_repository(key=database_name)

{'database_name': 'adwh1_medium',
 'username': 'HR',
 'password': 'DataLake1234;;',
 'database_type': 'oracle'}

In [7]:
wallet_path = "/home/datascience/catboost-employee-attrition/Wallet_ADWH1.zip"

# serve solo per creare la dir con il wallet unzipped
connection.import_wallet(wallet_path=wallet_path, key=database_name)

In [8]:
# build the connect string

if credential['database_name'] != '<database_name>' and \
   credential['username'] != '<user_name>' and \
   credential['password'] != '<password>':
    connector = Connector(database_name=credential['database_name'],
                          username=credential['username'], 
                          password=credential['password'],
                          database_type=credential['database_type'])

In [9]:
connector

oracle+cx_oracle://HR:DataLake1234;;@adwh1_medium

In [10]:
connector.config

{'database_name': 'adwh1_medium',
 'username': 'HR',
 'password': 'DataLake1234;;',
 'database_type': 'oracle'}

In [11]:
#
# access using SQLAlchemy and cx_Oracle
#
engine = create_engine(connector.uri)

# sql_attrition = "SELECT * FROM ATTRITION"
#attrition = pd.read_sql(sql_attrition, con=engine)

# lo scenario prdottto qui prevede la lettura di dati da OBject Storage, usando ocif e
#poi il salvataggio dei dati, modificati aggiungendo lo score, su ADWH
attrition_scored = data_orig.copy()

# simulate scoring
attrition_scored['SCORE'] = 0.6

In [12]:
attrition_scored.head()

,Age,Attrition,TravelForWork,SalaryLevel,JobFunction,CommuteLength,EducationalLevel,EducationField,Directs,EmployeeNumber,...,StockOptionLevel,YearsinIndustry,TrainingTimesLastYear,WorkLifeBalance,YearsOnJob,YearsAtCurrentLevel,YearsSinceLastPromotion,YearsWithCurrManager,name,SCORE
0,42,Yes,infrequent,5054,Product Management,2,L2,Life Sciences,1,1,...,0,8,0,1,6,4,0,5,Tracy Moore,0.6
1,50,No,often,1278,Software Developer,9,L1,Life Sciences,1,2,...,1,10,3,3,10,7,1,7,Andrew Hoover,0.6
2,38,Yes,infrequent,6296,Software Developer,3,L2,Other,1,4,...,0,7,3,3,0,0,0,0,Julie Bell,0.6
3,34,No,often,6384,Software Developer,4,L4,Life Sciences,1,5,...,0,8,3,3,8,7,3,0,Thomas Adams,0.6
4,28,No,infrequent,2710,Software Developer,3,L1,Medical,1,7,...,1,6,3,3,2,2,2,2,Johnathan Burnett,0.6

### Writing

In [13]:
# fa in modo che i campi Pandas Object siano salvati come VARCHAR e non BLOB
# altrimenti, Ã¨ molto lento

dtyp = {c:types.VARCHAR(attrition_scored[c].str.len().max())
        for c in attrition_scored.columns[attrition_scored.dtypes == 'object'].tolist()}

## si potrebbe semplificare dando ai campi varchar2 tutti la setssa lunghezza, definita come MAX

In [14]:
# check
dtyp

{'Attrition': VARCHAR(length=3),
 'TravelForWork': VARCHAR(length=10),
 'JobFunction': VARCHAR(length=18),
 'EducationalLevel': VARCHAR(length=2),
 'EducationField': VARCHAR(length=16),
 'Gender': VARCHAR(length=6),
 'JobRole': VARCHAR(length=25),
 'MaritalStatus': VARCHAR(length=8),
 'Over18': VARCHAR(length=1),
 'OverTime': VARCHAR(length=3),
 'name': VARCHAR(length=23)}

In [15]:
# now write back to DB
# importante usare qui il nome in lowercase
attrition_scored.to_sql(name='attrition_scored', index=False, con=engine, if_exists='replace', dtype=dtyp)

WARNING:/home/datascience/conda/database_p37_cpu_v1/lib/python3.7/site-packages/sqlalchemy/dialects/oracle/base.py:1380: SAWarning: Oracle version (19, 13, 0, 1, 0) is known to have a maximum identifier length of 128, rather than the historical default of 30. SQLAlchemy 1.4 will use 128 for this database; please set max_identifier_length=128 in create_engine() in order to test the application with this new length, or set to 30 in order to assure that 30 continues to be used.  In particular, pay close attention to the behavior of database migrations as dynamically generated names may change. See the section 'Max Identifier Lengths' in the SQLAlchemy Oracle dialect documentation for background.
  % ((self.server_version_info,))