### ADWH loading

In [1]:
import cx_Oracle

import logging
import os
import pandas as pd
import warnings

from ads.database import connection 
from ads.database.connection import Connector
from ads.dataset.factory import DatasetFactory

warnings.filterwarnings("ignore", category=DeprecationWarning) 
logging.basicConfig(format='%(levelname)s:%(message)s', level=logging.INFO)

In [2]:
# Sample credentials that are going to be stored.
credential = {'database_name': 'adwh1_medium', 
              'username': 'HR', 
              'password': 'DataLake1234;;',
              'database_type':'oracle'}

In [3]:
database_name = "ADWH1"

connection.update_repository(key=database_name, value=credential) 
connection.get_repository(key=database_name)

{'database_name': 'adwh1_medium',
 'username': 'HR',
 'password': 'DataLake1234;;',
 'database_type': 'oracle'}

In [4]:
wallet_path = "/home/datascience/catboost-employee-attrition/Wallet_ADWH1.zip"

connection.import_wallet(wallet_path=wallet_path, key=database_name)

In [5]:
if "database_name" in globals() and database_name != '<database_name>':
    connector = Connector(key=database_name)
else:
    print("Skipping as it appears that you do not have database_name configured.")

In [6]:
# build the connect string

if credential['database_name'] != '<database_name>' and \
   credential['username'] != '<user_name>' and \
   credential['password'] != '<password>':
    connector = Connector(database_name=credential['database_name'],
                          username=credential['username'], 
                          password=credential['password'],
                          database_type=credential['database_type'])

In [7]:
connector

oracle+cx_oracle://HR:DataLake1234;;@adwh1_medium

In [8]:
connector.config

{'database_name': 'adwh1_medium',
 'username': 'HR',
 'password': 'DataLake1234;;',
 'database_type': 'oracle'}

In [10]:
my_sql = "select * from ATTRITION"

df_attrition = DatasetFactory.open(connector.uri, format="sql", 
                                     table=my_sql)

df_attrition.head()

loop1:   0%|          | 0/4 [00:00<?, ?it/s]

1470 rows [00:00, 19352.31 rows/s]

,age,attrition,travelforwork,salarylevel,jobfunction,commutelength,educationallevel,educationfield,directs,employeenumber,...,weeklyworkedhours,stockoptionlevel,yearsinindustry,trainingtimeslastyear,worklifebalance,yearsonjob,yearsatcurrentlevel,yearssincelastpromotion,yearswithcurrmanager,name
0,42,Yes,infrequent,5054,Product Management,2,L2,Life Sciences,1,1,...,80,0,8,0,1,6,4,0,5,Tracy Moore
1,50,No,often,1278,Software Developer,9,L1,Life Sciences,1,2,...,80,1,10,3,3,10,7,1,7,Andrew Hoover
2,38,Yes,infrequent,6296,Software Developer,3,L2,Other,1,4,...,80,0,7,3,3,0,0,0,0,Julie Bell
3,34,No,often,6384,Software Developer,4,L4,Life Sciences,1,5,...,80,0,8,3,3,8,7,3,0,Thomas Adams
4,28,No,infrequent,2710,Software Developer,3,L1,Medical,1,7,...,80,1,6,3,3,2,2,2,2,Johnathan Burnett

In [14]:
# in questo modo estraggo il Pandas DataFrame
data_orig = df_attrition.to_pandas_dataframe()